/**
 * @mixin transition
 * @param $time {Float} Time for animation transition
 */
@mixin transition ($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}
