@charset "UTF-8";

@import "bootstrap";

@import "utility/_images";
@import "utility/_shadow";
@import "utility/_animation";

/**
 * Global
 */
body {
    font-size: 20;
    color:#A2A2A2;
    font-family:'Raleway', sans-serif;
    background-image:url(/assets/images/greybg.png);

    a {
        cursor: pointer;
        &:hover {
            text-decoration:none !important;
        };

        .icon {
            color: #000000;
        };
    };

    p {
        color:#A2A2A2;
    };

    img {
        color:#A2A2A2;
    };
};

/**
 * Fork Me
 */

#forkMe {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    opacity: 0.2;
    // height: 149px;
    // width: 149px;
    z-index: 1000;

    &:hover {
        opacity: 1;
    };
};


/**
 * Sidebar
 */
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    background: #333;
    top: 0px;

    .profile {
        margin-top: 50px;
        margin-left: 50px;
        width: 150px;

        .image {
            @include circle-image("", 150px, 150px);

            &:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, .01);
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            };
        };

        p {
            text-align: center;
            padding-top: 18px;
            color:#A2A2A2;
        };
    };

    .social {

        padding-top: 6px;

        ul {

            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                padding: 10px;
            };

            .github {
                color: #000000;
            };

            .twitter {
                vertical-align: -5;
            };
        };
    };

    .desc {
        padding-top: 13px;
        width:220px;
        margin-left: 15px;
        margin-right: 15px;

        p {
            font-size: 22;
            text-align: center;
        };
    };
};

/**
 * Main
 */
#main {
    height: 100%;
    margin-left: 250px;
    min-width: 400px;

    #content {
        height: 100%;

        // blog posts
        .contentHolder {
            padding-right: 100px;
            padding-left: 34px;
            padding-top: 16px;
        };

        .contentHeader {

            .title {
                font-size: 68px;
                font-weight: 200;
                color: rgb(0, 104, 0);
                // padding-bottom: 11;

                p {
                    font-weight: 200;
                    font-size: 52px;
                    color: rgb(0, 104, 0);
                };
            };

            .subtitle {
                font-weight: 100;
                padding-bottom: 12;
                font-size: 24;

                p {
                    font-weight: 100;
                    padding-bottom: 12;
                };
            }
        };

        .contentBody {
            .text {
                color: rgb(131, 131, 131);
                line-height: 1.6;
                font-weight: 100;
                font-size: 17px;
                padding-right: 42px;

                p {
                    color: rgb(131, 131, 131);
                    line-height: 1.6;
                    font-weight: 100;
                    font-size: 17px;
                };
            };
        };

        // feed holder
        .feedHolder {
            padding-left: 26px;
            padding-top: 15px;
        };

        .feedHeader {
            height: 114px;
            margin-bottom: 16px;
            position: fixed;
            z-index: 1000;
            z-index: -1;
        };

        .feedBody {
            position: relative;
            top: 182;
            margin-left: 30px;
            margin-right: 100px;

            a {
                text-decoration:none !important;
                color: #000000;
                cursor: pointer;
                font-size: 16px;
                font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
            };


            .dayBox {
                margin-left: 24px;
            };

            .commit {
                a  {
                    font-size: 15px;
                    color: #16792D;
                    font-family: 'Ubuntu', sans-serif;
                    line-height: 10px;
                };
            };

            .feedBox {
                padding-left: 16px;
                padding-bottom: 27px;
            };

            .date {
                color: #333;
                font-style: italic;
                font-weight: 100;
                margin-bottom: 8px;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: #156929;
                };
            };

            .dayIcon {
                margin-top: -30;
                margin-left: -15;
            };

            .feedTitle {
                a {
                    font-size: 15px;
                    color: #5C5555;
                    font-family: 'Ubuntu', sans-serif;
                    line-height: 50px;

                    &:hover {
                        color: #2C2C2C;
                    };
                };

                .gh_action {
                    margin-right: 7px;
                };

                .tw_action {
                    margin-right: 7px;
                    height: 12px;
                    opacity: 0.4;
                };
            };

            .feedDesc {
                font-size: 16px;
                ul {
                    list-style: none;
                };

                li.commit_icon:before {
                    content: '\f01f';
                    font-family: github-octicons;
                    display: inline-block;
                    margin-left: -1.3em;
                    padding-bottom: 0em;
                    position: absolute;
                    margin-top: -0.3em;
                };

                li.general:before {
                    content: '\f052';
                    font-family: github-octicons;
                    display: inline-block;
                    margin-left: -1.3em;
                    padding-bottom: 0em;
                    position: absolute;
                    margin-top: -0.3em;
                };

                li.issue_tags:before {
                    content: '\f015';
                    font-family: github-octicons;
                    display: inline-block;
                    margin-left: -1.3em;
                    padding-bottom: 0em;
                    position: absolute;
                    margin-top: -0.3em;
                };
            };
        };
    };

    footer {
        height: 200px;
    };
};

/**
 * Smaller screen support
 */
// @media (max-width:768px) {
//     #sidebar {
//         width: 0px;
//     };
// };
