
//- Template for feed
.feedHolder
    .feedHeader(style="padding: 0px; margin-top: 8px; margin-left: 29px;")
        .contentHeader
            .title Activity

            .subtitle.
                Code & thoughts

    .feedBody

        //- Looping through date organised feed - see ./app/public/app/views/feed.js for more info on what's going on here
        <% var datedItem; for(var i in feed) {  var json = feed[i]; for(var key in json) { var prettyDate = moment(key).format('MMM Do YY'); datedArr = json[key]; %>

        //-
        //- for each date
        //-

        .feedBox
            .date <%= prettyDate %>

            .dayIcon.octicon.octicon-chevron-down
            .dayBox
                //-
                //- for each item on that day
                //-

                <% for(var item in datedArr) { item = datedArr[item]; %>

                <% if(item.origin === 'github') { %>

                //-
                //- If github posts
                //-

                //- PushEvent
                <% if(item.type === 'PushEvent') { %>
                .feedTitle
                    .gh_action.octicon.octicon-repo-push
                    <% var commitWord = 'commits'; if(item.content.commits.length === 1) { commitWord = 'commit'; } %>
                    a(href!="https://github.com/<%- item.subject.name %>") Pushed <%- item.content.commits.length %> <%- commitWord %> to <%- item.subject.name %>

                //- loop through commits
                <% _.each(item.content.commits, function (commit) { %>
                .feedDesc
                    ul
                        li.commit_icon
                            .commit
                                a(href!="https://github.com/<%- item.subject.name %>/commit/<%- commit.sha %>") <%- commit.message %>
                <% }); %>

                //- WatchEvent
                <% } else if(item.type === 'WatchEvent') { %>
                .feedTitle
                    .gh_action.octicon.octicon-star
                    a(href!="https://github.com/<%- item.subject.name %>") Starred <%- item.subject.name %>

                //- CreateEvent
                <% } else if (item.type === 'CreateEvent') {%>
                .feedTitle
                    .gh_action.octicon.octicon-pencil
                    a(href!="https://github.com/<%- item.subject.name %>") Created <%- item.subject.name %>




                //- WatchEvent
                <% } else if(item.type === 'ForkEvent') { %>
                .feedTitle
                    .gh_action.octicon.octicon-repo-forked
                    a(href!="https://github.com/<%- item.subject.name %>") Forked <%- item.subject.name %>


                //- PublicEvent
                <% } else if (item.type === 'PublicEvent') {%>
                .feedTitle
                    .gh_action.octicon.octicon-repo
                    a(href!="https://github.com/<%- item.subject.name %>") <%- item.subject.name %> is now public

                //- IssuesEvent
                <% } else if (item.type === 'IssuesEvent') {%>
                .feedTitle
                    .gh_action.octicon.octicon-issue-opened
                    a(href!="https://github.com/<%- item.subject.name %>/issues/<%- item.content.issue.number %>") Opened issue: <%- item.content.issue.title %>
                <% if(item.content.issue.body) { %>
                .feedDesc
                    ul
                        li.general
                            .commit
                                a(href!="https://github.com/<%- item.subject.name %>/issues/<%- item.content.issue.number %>") <%- item.content.issue.body %>

                        //- loop through tags
                        <% _.each(item.content.issue.labels, function (tag) { %>
                        li.issue_tags
                            .commit(style="margin-top: 15px;")
                                a(href!="https://github.com/<%- item.subject.name %>/labels/<%- tag.name %>", style!="color: <%- tag.color %>") <%- tag.name %>
                        <% }); %>
                <% } %>
                <% } %>

                <% } else if(item.origin === 'twitter') { %>

                //-
                //- If twitter posts
                //-
                .feedTitle
                    img.tw_action(src="/assets/images/twitter_icon_32px.png")
                    a(href!="https://twitter.com/IyadAssaf/status/<%- item.id %>") <%- item.content.text %>

                <% } %>
                <% } %>

        <% } %><% } %>
