//- Template for blog post / twitter status / github activity content
.contentHolder
    .contentHeader
        .title.
            <%- title %>

        .subtitle.
            <%- subtitle %>

    .contentBody
        .text
            <%= body %>
    footer
