//- Template for blog post / twitter status / github activity content
.contentHolder
    .contentHeader
        .title Audio development and Node.js

        .subtitle.
            This is some super important subtitle. You should probably read this before starting on the main body of text if you know what's good for you.

    .contentBody
        .text
            p(style="text-align: center;")
                img(src="http://placekitten.com/g/300/300")
            p.
                What did your parents teach you about money? If you’re anything like me, you were taught that money was earned by completing a task.
            p.
                As a kid, I had a weekly allowance. My parents made a chore list. Each week I was responsible for taking out the garbage, doing the dishes, vacuuming the house, and doing the laundry. In exchange for this work, I received a hefty $5.
            p.
                It seemed like a good deal to me, but what did I know? I was a kid. Looking back, that equated to something like $0.50 per hour. A screaming deal for my folks.
            p.
                Now, as a dad of two boys, Liam and Dylan, I’m in the process of thinking through how I want to structure the pay system in my own home.
            p.
                This is my oldest son, Liam. He’s seven. He’s awesome, bright, funny, and, as you can see, debonair. And he wants to make some money.
            p.
                After all, there’s a ton of things he needs to buy. You know, like a fourth football and additions to his ever-expanding Beyblade collection. Just like the rest of us, he wants to keep up with the Joneses.
            p.
                So, the time came a few months back when Liam wanted an allowance.
            p.
                My initial thought was to do what my parents taught me: make a chore list and negotiate a fixed-price allowance that was tilted heavily in my favor.
            p.
                But after giving it a bit more thought, I realized that if I did that, I’d be giving Liam a huge disservice because an allowance teaches kids poor lessons on money. Here’s a few that come to mind.
            p.
                Bad money lesson #1: Time and tasks are your commodity
            p.
                Employees sell their time to entrepreneurs to do tasks. You come into the office, slog it out for eight to ten hours, do whatever you’re told, and in return get a paycheck. As an employee, your most valuable commodity is your time and the tasks you accomplish in that time. The problem is that if you don’t have time to sell, if you get sick or injured for instance, you don’t make money. And if companies aren’t looking to buy your time because there aren’t enough tasks to go around, you don’t have a job, no matter how talented you are.
            p.
                By contrast, entrepreneurs sell ideas or products. They get paid not for their time and tasks, but for the value they bring to the table in solving problems for the world and creating jobs. And if they do it right, they create companies and systems that make money even when they aren’t working.
            p.
                Paying Liam an allowance for his chores would teach him that his time and tasks are what is of value to me. It’s not.
            p.
                Bad money lesson #2: Do the bare minimum
            p.
                As a kid, my goal was to get my chores done as quickly as possible so I could then go and play. There was no pride in my work, and because I was getting paid for my time, I tried to hurry through my tasks. This resulted in a constant struggle between my parents, who wanted the job done right, and me, who wanted to just get the job done.
            p.
                Often, this is carried over to our roles as employees. Because there is no ownership, the goal is to do the tasks we’re assigned at the minimum level of acceptance. I’m not saying this is everyone, but it is a lot of folks.
            p.
                I see these patterns in my son too. I have to constantly push him to complete a task correctly. Entrepreneurs, however, know the importance of quality and passion in work. Because their livelihood is dependent on not just getting the job done quickly, but also getting it done right, they invest themselves into their work in a way that those who sell their time and tasks don’t.
            p.
                Bad money lesson #3: Life is about work, then play
            p.
                A natural outcome of selling your time for tasks is that you bifurcate your life. Right now, Liam still thinks that work is a drag that you have to get through in order to be free to play. This creates a destructive pattern of looking at work as a necessary evil to make money so that you can then do what you want.
            p.
                Employees can have this mindset too. That’s why you often hear people say they can’t wait for the weekend. And why they also love the phrase “T.G.I.F.” The goal is to get through the workweek so that then you can pursue the things you’re actually passionate about.
            p.
                Entrepreneurs don’t have this mindset, at least not the good ones. True entrepreneurs make their passions their living. They don’t live for the weekend. They live to solve problems and create value. The irony is this often translates into more fun and downtime down the road.
            p.
                So, we’ve decided not to do allowance at our home. My dream for Liam is that no matter what he does in life, he grows up with an entrepreneurial spirit (which, by the way, I think the best employees also have). With this in mind, here’s what we’re teaching him.
            p.
                Future tycoon? Good money lesson #1: In life, we have responsibilities

            p.
                Liam still has chores. Each day he’s expected to feed the cat, empty the trash and recycling, put the dishes away, and keep his room clean. For that he gets nothing other than the satisfaction of a job well done (hopefully he feels that satisfaction soon).
            p.
                He’s protested. He believes he should get money for these tasks. But we’ve taught him that he doesn’t get paid for doing work around the house. Just like mom and dad have responsibilities in the home that we don’t get paid for, so does he.
            p.
                He’s not there yet, but hopefully he’ll learn that responsibility is a way of life, and you don’t always get paid for being responsible.
            p.
                Good money lesson #2: Real value comes in solving problems
            p.
                In our house, you get paid for recognizing a problem and proposing a solution. I’ve taught Liam that if he wants to make money, he has to pay attention to the world around him, identify a problem that needs fixing, and propose a solution. We then negotiate a payment.
            p.
                So, for instance, during the fall, Liam noticed the yard was full of dead leaves. He approached me with the proposition to clean up the leaves for payment. We negotiated $10 fee. He did a great job and made $10 in a couple hours, which is pretty good money for a kid.
            p.
                And he’s extended this thinking in other areas. The other day, he noticed that his nana and papa’s car was dirty. He proposed to clean it for $5. A deal was struck. He then leveraged that deal into cleaning his aunt’s car too. He made a total of $10 in a couple hours—and got to play with the hose.
            p.
                At the end of his car-washing day, he proudly announced he was starting a car wash company. “What will it be called?” I asked. “Liam’s Car Washing,” he said proudly.

            p.
                His face looks like this when he wants money. Good money lesson #3: A great business takes a great plan
            p.
                I was proud of Liam for wanting to start a car washing business, but I wanted to teach him some more lessons. So, I asked him what materials he was going to use to wash the cars he lined up. He told me he would use a bucket from the garage and the soap and sponge by the sink. I told him that was a good idea with one exception, those things weren’t his to use. He needed to finance his business with his own money and materials.
            p.
                I then asked him how he would get new business. He told me that he’d put a sign out. “Do you think that will be enough?” I asked. We agreed it probably wasn’t. He needed a better marketing plan.
            p.
                So, lately, we’ve been working on a business plan together. Liam now knows he needs to purchase materials for his business and to creatively find a way to get customers from around the neighborhood. He is learning the importance of business planning.
            p.
                Good money lesson #4: Life is about work as play
            p.
                Liam loves projects. The other morning he was up at 6 a.m. with about twenty Highlights magazines spread out before him.“What are you up to?” I asked. “I’m trying to decide which craft I want to do,” he said.

            p.
                Our house is filled to the brim with projects by Mr. Liam Johnson.
            p.
                Kids inherently want to build. Whether it’s crafts or legos or forts, they throw themselves into projects with abandon. The best byproduct of teaching Liam about entrepreneurship is that he’s learning that work can be fun, especially if you’re building something you’re passionate about.
            p.
                Ultimately, I don’t have all the answers. This is as much a learning experience for me as it is for Liam. But it is awesome to see my son begin to see the world in a different way than I did as a kid.
            p.
                Since he’s seven, the expectation isn’t that he creates a great business. It’s that he begins to change the way he thinks about money and business. My hope is that as he grows up, these early lessons will set the foundation for great success in life, obviously with many hard lessons along the way.
            p.
                I see passion building in him as he looks at making money as a project that involves solving problems rather than as selling his time to hurry through tasks. Every kid loves a good project…and so do I. I see him slowly turning into an entrepreneurial thinker. And no matter what he does in life, that type of thinking will help him excel.
            p.
                As I wrote above, “Ultimately, I don’t have all the answers. This is as much a learning experience for me as it is for Liam.” Part of parenting is being able to receive feedback, learn from it, and put it those lessons into practice, no matter what form it comes in.
            p.
                In the original version of this post, I had a poorly-worded section called “Leverage talent” about my attempts to teach Liam about hiring employees as part of a successful business.
            p.
                Sam Biddle at ValleyWag wrote a vitriolic post in response called, “How to Turn Your Kid into a Little Asshole.” While I’m dismayed at the tone of his post and the heartbreaking attacks on my son in the comments, Sam has a point.
            p.
                At the end of the day, I’m just a normal guy trying to be the best dad I can. I make mistakes all the time. I’m not claiming to be “successful.” I’m just processing my thoughts from what’s worked for us so far.
            p.
                What I really believe is that part of a great business is hiring the best talent you can. Leveraging is totally the wrong word and not reflective of what I wanted to say. It was a poorly thought out section.
            p.
                A couple takeaways:
            p.
                Not everyone wants to own a business, even if they are super talented. As an entrepreneur, it’s always a privilege when you can give people a good livelihood A fact of business is that part of being able to keep good people employed is having a profit margin that allows you to do so At 7, Liam isn’t able to fully comprehend the balance between making money with a great team versus treating people as a means to an end. There’s no reason to be having those discussions with him at his age. It was the wrong approach, and one I’ll talk with Liam about to rectify.
            p.
                Thanks to my critics for helping me refine how I’m approaching my parenting. I’m happy to take the knocks on this, as being a dad is a life-long learning process. I wish I could be the best dad ever right out of the gate, but even harsh feedback is valuable feedback because it’s not about me, it’s about my son.
            p.
                So, my final request is that if you disagree with me, please do so in a constructive way. I’m happy to dialogue, and am always open to change.


    footer
