
//- Template for feed
.feedHolder
    .feedHeader(style="padding: 0px; margin-top: 8px; margin-left: 29px;")
        .contentHeader
            .title Activity

            .subtitle.
                Code & thoughts

    .feedBody
        <% _.each(feed, function (label) { %>

        a(href!="/post/<%= label %>")
            .feedBox
                .feedTitle <%- label %>

        <% }); %>
