
//- Template for feed
.feedHolder
    .feedHeader(style="padding: 0px; margin-top: 8px; margin-left: 29px;")
        .contentHeader
            .title Activity

            .subtitle.
                Code & thoughts

    .feedBody

        //- loop through feed
        <% _.each(feed, function (item) { %>

        //- twitter
        <% if(item.origin === 'twitter') { %>
        .feedBox
            .feedTitle
                a(href!="https://twitter.com/IyadAssaf/status/<%- item.id %>") <%- item.prettyDate %>: <%- item.content.text %>

        //- github
        <% } else if (item.origin === 'github') { %>
        .feedBox
            //- PushEvent
            <% if(item.type === 'PushEvent') { %>
            .feedTitle
                a(href!="https://github.com/<%- item.subject.name %>") <%- item.prettyDate %>: Pushed <%- item.content.commits.length %> commits to <%- item.subject.name %>

            <% _.each(item.content.commits, function (commit) { %>
            a(href!="https://github.com/<%- item.subject.name %>/commit/<%- commit.sha %>")
                .feedDesc
                    ul
                        li
                            a(href!="https://github.com/<%- item.subject.name %>") <%- commit.message %>

            <% }); %>

            //- WatchEvent
            <% } else if(item.type === 'WatchEvent') { %>
            .feedTitle
                a(href!="https://github.com/<%- item.subject.name %>") <%- item.prettyDate %>: Starred <%- item.subject.name %>


            //- CreateEvent
            <% } else if (item.type === 'CreateEvent') {%>
            .feedTitle
                a(href!="https://github.com/<%- item.subject.name %>") <%- item.prettyDate %>: Created <%- item.subject.name %>
            <% } else if (item.type === 'PublicEvent') {%>
            .feedTitle
                a(href!="https://github.com/<%- item.subject.name %>") <%- item.prettyDate %>: <%- item.subject.name %> is now public
            <% } %>
        <% } %>
        <% }); %>
