
//- Template for feed
.feedHolder
    .feedHeader(style="padding: 0px; margin-top: 8px; margin-left: 29px;")
        .contentHeader
            .title Activity

            .subtitle.
                Code & thoughts

    .feedBody
        <% _.each(feed, function (item) { %>

        a(href!="/post/<%= item.url %>")
            .feedBox
                .feedTitle <%- item.title %>
                .feedDesc <%- item.desc %>

        <% }); %>
