
//- Template for feed
.feedHeader.columns
    .contentHeader
        .title Activity

        .subtitle.
            Code & thoughts

.feedBody
    <% _.each(feed, function (label) { %>

    a(href="/post/gsdkgfahj")
        .feedBox
            .feedTitle <%= label %>

    <% }); %>
