form(method="post", action="login")
    input(name="username", type="text", placeholder="Enter your username")
    input(name="password", type="password", placeholder="Enter your password")
    input(type="submit", value="Login")
