html
    head
        meta(charset="utf-8")
        script(src="/assets/bower_components/requirejs/require.js", data-main="/app/main")
        link(rel="stylesheet" href="/assets/styles/main.css" media="all")
    body
        div(class="sidebar")
            ul
                li
                    a(href="#") Stuff
                li
                    a(href="#") More stuff
                li
                    a(href="#") even more stuff
                li
                    a(href="#") hey look, more stuff
    div(class="content")
        p Content
