@import "bootstrap";
@import "sprockets-octicons";

@import "utility/_images";
@import "utility/_shadow";
@import "utility/_animation";

/**
 * Global
 */
body {
    font-size: 20;
    color:#A2A2A2;
    font-family:'Raleway', sans-serif;

    a {
        cursor: pointer;
        &:hover {
            text-decoration:none !important;
        };

        .icon {
            color: #000000;
        };
    };

    p {
        color:#A2A2A2;
    };

    img {
        color:#A2A2A2;
    };
};

/**
 * Sidebar
 */
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #333;

    @include transition(0.5s);

    .profile {
        margin-top: 50px;
        margin-left: 50px;
        width: 150px;

        .image {
            @include circle-image("", 150px, 150px);

            &:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, .01);
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            };
        };

        p {
            text-align: center;
            padding-top: 18px;
            color:#A2A2A2;
        };
    };

    .social {

        padding-top: 6px;

        ul {

            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                padding: 10px;
            };

            .github {
                color: #000000;
            };

            .twitter {
                vertical-align: -5;
            };
        };
    };

    .desc {
        padding-top: 13px;
        width:220px;
        margin-left: 15px;
        margin-right: 15px;

        p {
            font-size: 22;
            text-align: center;
        };
    };
};

/**
 * Content
 */
#content {
    width: 100%;
    padding: 15px;
    // background-image:url(http://rarlindseysmash.com/images/bg.png);
    // background-image:url(http://www.designbolts.com/wp-content/uploads/2013/02/Light-aluminum-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-image:url(http://buyersupplierconnect.com/wp-content/uploads/2014/02/light-grey-background-pattern-i31.jpg);
    height: 100%;
    // background: #E5E5E5;
};

/**
 * Smaller screen support
 */
@media (max-width:768px) {
    #sidebar {
        width: 0px;
    };
};



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
